<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BASEDEDATOSLUCHA.Properties.Settings.DATAConnectionString1"
            connectionString="Data Source=DESKTOP-OHDJA7I\SQLEXPRESS;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
        <add name="BASEDEDATOSLUCHA.Properties.Settings.DATAConnectionString2"
            connectionString="Data Source=DESKTOP-OHDJA7I\SQLEXPRESS;Initial Catalog=DBLUCHA;Persist Security Info=True;User ID=sa;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
        <add name="BASEDEDATOSLUCHA.Properties.Settings.DBLUCHAConnectionString"
            connectionString="Data Source=DESKTOP-OHDJA7I\SQLEXPRESS;Initial Catalog=DBLUCHA;Persist Security Info=True;User ID=sa;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
        <add name="BASEDEDATOSLUCHA.Properties.Settings.DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Carlo\Documents\Data.mdf;Integrated Security=True;Connect Timeout=200"
            providerName="System.Data.SqlClient" />
        <add name="BASEDEDATOSLUCHA.Properties.Settings.DBMERMAConnectionString"
            connectionString="Data Source=DESKTOP-OHDJA7I\SQLEXPRESS;Initial Catalog=DBMERMA;Persist Security Info=True;User ID=sa;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>